* {
    font-size: 9px;
    font-family: 'Times New Roman';
}

td,
th,
tr,
table {
    /*border-top: 1px solid black;*/
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 200px;
    max-width: 200px;
}





.centrado {
  /*  text-align: center;*/
    align-content: center;
}

.ticket {
    width: 200px;
    max-width: 200px;
}

#encabezado{
  font-size: 10px;
  font-family: 'Arial black';

}

#kilos{
  font-size: 38px;
  font-family: 'Arial black';
  font-weight: 'bold';
  height: 40px;
  width: 180px;
  border: 0;
}

#fechaactual{
  font-size: 10px;
  font-family: 'Arial black';
  font-weight: 'bold';
  border: 0;
}

#hora{
  font-size: 10px;
  font-family: 'Arial black';
  font-weight: 'bold';
  border: 0;
}

#caducidad{
  font-size: 10px;
  font-family: 'Arial black';
  font-weight: 'bold';
  border: 0;
  width: 150px;

}

.selector{
height: 25px;
width: 200px;
font-size: 20px;
font-family: 'Arial black';
font-weight: 'bold';
border: 0;


}

.option {
  font-size: 15px;
  font-family: 'Arial black';
  height: 50px;
  width: 50px;
}
img {
    max-width: inherit;
    width: inherit;
}
